/* Shared style*/
.inter-extra-bold {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 34px;
}

.btn-primary {
    background-color: #4F46E5;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    padding: 16px 32px;
    border-radius: 6px;
    border: none;
    
}

.text-center {
    text-align: center;
}


/* Hero section styles */
.hero {
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.hero-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}

.logo {
 
    font-family: "Inter", sans-serif;
    font-weight: 800;
    color: #4F46E5;
}

.btn-signup {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 12px 28px;
    background-color: #4F46E5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.hero-content {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 100px;
}

.hero-heading {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #181818;
    margin-bottom: 40px;
}

/* Action section styles */
.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    
    margin: 100px 141px 100px  159px;

}

.action-content {
    max-width: 500px;
}

.action-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #181818;
    margin-bottom: 23px;
}

.action-description {
    font-family: "Raleway", sans-serif;
    font-weight: 400px;
    font-size: 24px;
    color: #252432;
    margin-bottom: 23px;
}

.action-image img {
    width: 403px;
    height: 328px;
    border-radius: 48px;
    
}


/* Users section styles */
.users {
    background-color: #e5e7ff;
    border-radius: 24px;
    margin: 100px 141px 100px 159px;
    padding: 80px 100px;
}

.users-container {
    text-align: center;
}

.users-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #000000;
    margin-bottom: 60px;
}

.users-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.stat-item {
    text-align: center;
}

.stat-number {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: #4E47FF;
    margin-bottom: 10px;
}

.stat-label {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}